@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700|Merriweather:400,300,700,300italic);
$primary-font:'Merriweather', serif;
$secondary-font: 'Lato', sans-serif;


.row.title {
	background-color: orange;
	padding: 0 50px;
	max-width: 100%;
}

h1 {
	color: white;
	font-family: $secondary-font;
	font-size: 6.5rem;
}
h2 {
	color: white;
	font-family: $secondary-font;
	font-size: 5rem;
	padding-bottom: 7px;
	font-weight: 100;
}
h1, h2 {
	line-height: .9;
}

h3 {
	font-size: 2.5rem;
  font-family: $secondary-font;
}

h4 {
  font-size: 1.75rem;
  font-family: $secondary-font;
  margin-bottom: .25em;
}

h5 {
  font-size: 1.3rem;
  font-family: 'Lato';
  margin-bottom: .2em;
  a i {
    color: darkorange;
    font-size: 1.125em;
    padding: 0 .3em;
    &:hover {
      color: white;
      background: darkorange;
    }
  }
}

blockquote {
  font-weight: 300;
  font-style: italic;
  border-left: 2px solid orange;
  padding: 0 1.25rem 0 1.1875rem;
}

.header-italic {
  font-family: $secondary-font;
  font-style: italic;
  font-size:3rem;
}

.off-canvas-list ul li a,
ul.off-canvas-list li label {
  font-family: $secondary-font;
}

.row.main-content {
	padding: 30px 150px 0px 150px;
	p {
    font-family: $primary-font;
		font-size: 1.125em;
		line-height: 1.5;
    letter-spacing: .025em;
    font-weight:300;
	}
}

article {
	font-family: $secondary-font;
}

/* -------------------------------- 

Back to Top button, with thanks to codyhouse.co

-------------------------------- */
.cd-container {
  width: 90%;
  max-width: 768px;
  margin: 2em auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
/* -------------------------------- 

Main components 

-------------------------------- */


.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(255,165,0, 0.99) url(../images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #FF8C00;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

p.source-org.copyright {
  font-family: $secondary-font;
  padding-left: 150px;
}