/* line 2, ../scss/style.scss */
.row.title {
  background-color: orange;
  padding: 0 50px;
  max-width: 100%;
}

/* line 8, ../scss/style.scss */
h1 {
  color: white;
  font-family: helvetica;
  font-size: 6.5rem;
}

/* line 13, ../scss/style.scss */
h2 {
  color: white;
  font-family: helvetica;
  font-size: 5rem;
  padding-bottom: 7px;
  font-weight: 300;
}

/* line 20, ../scss/style.scss */
h1, h2 {
  line-height: .9;
}

/* line 24, ../scss/style.scss */
h3 {
  font-size: 2.5rem;
}

/* line 28, ../scss/style.scss */
.row.main-content {
  padding: 30px 150px 0px 150px;
}
/* line 30, ../scss/style.scss */
.row.main-content p {
  font-size: 1.3rem;
  line-height: 1.3;
}

/* line 36, ../scss/style.scss */
article {
  font-family: helvetica;
}
