/* line 2, ../scss/style.scss */
.row.title {
  background-color: orange;
  padding: 0 50px;
  max-width: 100%;
}

/* line 8, ../scss/style.scss */
h1 {
  color: white;
  font-family: helvetica;
  font-size: 6.5rem;
}

/* line 13, ../scss/style.scss */
h2 {
  color: white;
  font-family: helvetica;
  font-size: 5rem;
  padding-bottom: 7px;
  font-weight: 300;
}

/* line 20, ../scss/style.scss */
h1, h2 {
  line-height: .9;
}

/* line 24, ../scss/style.scss */
h3 {
  font-size: 2.5rem;
}

/* line 28, ../scss/style.scss */
.row.main-content {
  padding: 30px 150px 0px 150px;
}
/* line 30, ../scss/style.scss */
.row.main-content p {
  font-size: 1.3rem;
  line-height: 1.3;
}

/* line 36, ../scss/style.scss */
article {
  font-family: helvetica;
}

/* -------------------------------- 

Back to Top button, with thanks to codyhouse.co

-------------------------------- */
/* line 45, ../scss/style.scss */
.cd-container {
  width: 90%;
  max-width: 768px;
  margin: 2em auto;
}

/* line 50, ../scss/style.scss */
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
/* line 63, ../scss/style.scss */
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(255, 165, 0, 0.99) url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}

/* line 82, ../scss/style.scss */
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}

/* line 87, ../scss/style.scss */
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

/* line 92, ../scss/style.scss */
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

/* line 96, ../scss/style.scss */
.no-touch .cd-top:hover {
  background-color: #FF8C00;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  /* line 101, ../scss/style.scss */
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 107, ../scss/style.scss */
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}
